---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import News from "../components/News.astro";
import { publicationList } from "../content/publication";
import PublicationBlock from "../components/PublicationBlock.astro";
---

<Layout title="Heechan Lee">
  <div class="introduction">
    <div class="intro-paragraph">
      <h1>Heechan Lee, 이희찬</h1>
      <p>
        I'm a MS student of <a href="https://cs.kaist.ac.kr/" target="_blank">School of Computing</a> at <a href="https://www.kaist.ac.kr/" target="_blank">KAIST</a>.
        I'm working in <a href="https://cstlab.org/" target="_blank">Collaborate Social Technologies Lab(CSTL)</a> and <a href="https://www.kixlab.org" target="_blank">KAIST Interaction Lab(KIXLAB)</a>, where I'm advised by <a href="https://joseph.seering.org/" target="_blank">Prof. Joseph Seering</a> and <a href="https://juhokim.com/" target="_blank">Prof. Juho Kim</a>.
        <br />
        <br />
        My research interest lies in <b>Human-AI Interaction</b> field.
        Now I'm mainly interested in creating systems that can support users to ensure LLMs align with user's preference, and evaluate the LLM behaviors.
        In addition, I'm so curious how AI agent can change the experience of software engineering.
        <br />
        I look forward to contributing to various problems at the intersection of human, AI and safety.
      </p>
    </div>
    <img class="main" src="/assets/img/main.JPG" />
  </div>
  <div class="contacts">
    <a href="mailto::hclee99@kaist.ac.kr"><img src="/assets/img/mail_icon.svg" class="contact-icon" /></a>
    <a href="https://github.com/Gabul99" target="_blank"><img src="/assets/img/github.svg" class="contact-icon" /></a>
    <a href="https://www.linkedin.com/in/heechan-lee-0108a5217/" target="_blank"><img src="/assets/img/linkedin.svg" class="contact-icon" /></a>
    <a href="https://x.com/heechanleekr" target="_blank"><img src="/assets/img/x.svg" class="contact-icon" /></a>
    <a href="https://scholar.google.com/citations?user=O6BiJGkAAAAJ&hl=en" target="_blank"><img src="/assets/img/google-scholar.svg" class="contact-icon" /></a>
    <a href="https://medium.com/hcleedev" target="_blank" style={{height: 'fit-content'}}>Blog (in Kor)</a>
  </div>
  <News />
  <h3>Publication</h3>
  {publicationList.map(p => <PublicationBlock publication={p} />)}
</Layout>
<style>
  img.main {
    width: 240px;
    height: auto;
    align-self: flex-start;
    object-fit: contain;
  }

  div.introduction {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .intro-paragraph {
      display: flex;
      flex-direction: column;
    }
  }

  div.contacts {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  img.contact-icon {
    all: unset;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  img.contact-icon:hover {
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    img.main {
      display: none;
    }
  }

</style>