---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import News from "../components/News.astro";
import { publicationList } from "../content/publication";
import PublicationBlock from "../components/PublicationBlock.astro";

const grouped = {
  conference: publicationList.filter((p) => p.type === "conference"),
  short: publicationList.filter((p) => p.type === "short"),
  arxiv: publicationList.filter((p) => p.type === "arxiv"),
};
---

<Layout title="Heechan Lee">
  <div class="introduction">
    <div class="intro-paragraph">
      <h1>Heechan Lee, 이희찬</h1>
      <p>
        I'm a Master's student in the <a href="https://cs.kaist.ac.kr/" target="_blank">School of Computing</a> at <a href="https://www.kaist.ac.kr/" target="_blank">KAIST</a>.
        I'm working in <a href="https://cstlab.org/" target="_blank">Collaborative Social Technologies Lab(CSTL)</a> and <a href="https://www.kixlab.org" target="_blank">KAIST Interaction Lab(KIXLAB)</a>, where I'm advised by <a href="https://joseph.seering.org/" target="_blank">Prof. Joseph Seering</a> and <a href="https://juhokim.com/" target="_blank">Prof. Juho Kim</a>.
        <br />
        <br />
        My research interest lies in <b>Human-AI Interaction</b> field, with a focus on designing interactive systems that enable users to understand and steer AI in the way users intend.
        I study how users engage in sensemaking and evaluation of large volumes of data (e.g., AI-generated responses) to identify issues and provide meaningful feedback.
        Ultimately, my goal is to build systems that effectively incorporate user intent across the <i>sensemaking–evaluation–feedback</i> process.
        <br />
        I look forward to contributing to various problems at the intersection of human, AI and data.
      </p>
    </div>
    <img class="main" src="/assets/img/main.JPG" />
  </div>
  <div class="contacts">
    <a href="mailto::hclee99@kaist.ac.kr"><img src="/assets/img/mail_icon.svg" class="contact-icon" /></a>
    <a href="https://github.com/Gabul99" target="_blank"><img src="/assets/img/github.svg" class="contact-icon" /></a>
    <a href="https://www.linkedin.com/in/heechan-lee-0108a5217/" target="_blank"><img src="/assets/img/linkedin.svg" class="contact-icon" /></a>
    <a href="https://x.com/heechanleekr" target="_blank"><img src="/assets/img/x.svg" class="contact-icon" /></a>
    <a href="https://scholar.google.com/citations?user=O6BiJGkAAAAJ&hl=en" target="_blank"><img src="/assets/img/google-scholar.svg" class="contact-icon" /></a>
    <a href="https://medium.com/hcleedev" target="_blank" style={{height: 'fit-content'}}>Blog (in Kor)</a>
  </div>
  <News />
  <h3 class="pub-title">Publications</h3>
  <p class="pub-hint">(* equal contribution)</p>
  <div class="pub-list">
    {grouped.arxiv.length > 0 && (
    <>
      <h2 class="section-title">Manuscript</h2>
      {grouped.arxiv.map((p) => (
        <PublicationBlock publication={p} />
      ))}
    </>
  )}
    {grouped.conference.length > 0 && (
    <>
      <h2 class="section-title">Conference Paper</h2>
      {grouped.conference.map((p) => (
        <PublicationBlock publication={p} />
      ))}
    </>
  )}

  {grouped.short.length > 0 && (
    <>
      <h2 class="section-title">Workshop, Poster, Short paper</h2>
      {grouped.short.map((p) => (
        <PublicationBlock publication={p} />
      ))}
    </>
  )}
  </div>
</Layout>
<style>
  img.main {
    width: 240px;
    height: auto;
    align-self: flex-start;
    object-fit: contain;
  }

  div.introduction {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .intro-paragraph {
      display: flex;
      flex-direction: column;
    }
  }

  div.contacts {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  div.pub-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }

  h2.section-title {
    all: unset;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
  }

  img.contact-icon {
    all: unset;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  img.contact-icon:hover {
    opacity: 0.5;
  }

  h3.pub-title {
    margin-bottom: 4px;
  }

  p.pub-hint {
    margin: 0px;
  }

  @media (max-width: 768px) {
    img.main {
      display: none;
    }
  }

</style>