<nav>
  <p>
    <a href="/">home</a>
    <a href="/assets/CV_HeechanLee.pdf" target="_blank">CV</a>
  </p>
</nav>
<style>
  nav > p > a {
    text-align: left;
    margin-left: 20px;
  }

  nav {
    margin-bottom: 2rem;
    text-align: right;
  }
</style>
